<div class="thought {{ thought.model }} ff-roboto-mono" [ngClass]="thoughtWidth()">
  <img src="/assets/{{thought.model}}.png" alt="Aspas coloridas">
  <p class="content">{{thought.content}}</p>
  <p class="authorship"><b>{{thought.authorship}}</b></p>

  <div class="action">
    <button class="buttonEdit">
      <img src="/assets/edit.png" alt="Ícone de editar">
    </button>
    <button class="buttonExclude" routerLink="/pensamentos/excluirPensamento/{{thought.id}}">
      <img src="/assets/delete.png" alt="Ícone de excluir">
    </button>
  </div>

</div>
